* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
  background-color: rgb(0, 0, 0);
}

#logo-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-main img {
  width: 5rem;
  max-height: 3rem;
}
#iki {
  border: 1px solid gray;
  border-radius: 0.3rem;
  margin-right: 0.1rem;
  background-color: rgb(34, 33, 33);
  color: white;
  padding: 0.1rem 0.2rem;
}

#bir {
  border: 1px solid gray;
  border-radius: 0.3rem;
  margin-right: 0.1rem;
  background-color: white;
  color: black;
  padding: 0.1rem 0.2rem;
}

#nav-bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
}

#nav-bar ul li {
  margin-right: 1rem;
  list-style-type: none;
}

#nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.banner {
  background-image: url(./images/banner3.jpg);
  background-attachment: fixed;
  min-height: 46vh;
}

.banner .banner-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.banner .banner-p h1 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
}

.banner .banner-p p {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

#subscribe {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(221, 219, 219);
  position: sticky;
  top: 8vh;
  right: 0;
  left: 0;
}

#subscribe h3 {
  margin-left: 1rem;
}

#subscribe input {
  border: none;
  padding: 0.2rem;
}
#subscribe button {
  margin: 0 0.5rem;
  margin-right: 2rem;
  color: white;
  padding: 0.3rem;
  background-color: black;
}

#subscribe button:hover {
  background-color: rgb(63, 61, 61);
}

#parts {
  width: 100vw;
  display: flex;
  min-height: 25vh;
}
.box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box img {
  width: 4rem;
  margin-bottom: 0.7rem;
}

.box h4 {
  margin-bottom: 0.4rem;
}
.box p {
  text-align: center;
}

.aboutUs {
  display: flex;
}

#aboutUs h4 {
  margin-top: 1rem;
  margin-left: 1.2rem;
}

#aboutUs #p1 {
  width: 60vw;
  text-align: justify;
  margin: 0.5rem 2rem 1rem 0.5rem;
  padding: 1rem;
}
#aboutUs #p2 {
  width: 60vw;
  text-align: justify;
  margin: 0.5rem 2rem 1rem 0.5rem;
  background-color: black;
  color: white;
  padding: 1rem;
}
#aboutUs #p3 {
  border: 1px solid black;
  min-height: 20rem;
  background-color: black;
  color: white;
  margin: 1rem;
  padding: 1rem;
}
#aboutUs #p3 h4 {
  text-align: center;
  margin-bottom: 1rem;
}
#aboutUs #p3 p {
  text-align: justify;
}

#services {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.services {
  display: flex;
}

h4 {
  margin-left: 2rem;
}
.box-service {
  padding: 1rem;
  width: 60vw;
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: burlywood;
}

.box-service h5 {
  margin-bottom: 0.5rem;
}
.box-service p {
  margin-bottom: 0.5rem;
}
.form {
  width: 25vw;
  background-color: black;
  margin-left: 2rem;
  padding: 1rem;
  margin-top: 1rem;
}

#form {
  display: flex;
  flex-direction: column;
  color: white;
}
#h-form {
  margin-bottom: 0.5rem;
}
#form #text {
  margin-bottom: 1rem;
}
#form #email {
  margin-bottom: 1rem;
}
#form #textarea {
  margin-bottom: 1rem;
  resize: none;
}

#form button {
  width: 40%;
  color: black;
  background-color: white;
}

footer {
  border-top: 1px solid white;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-bottom: 0.5rem;
}
@media (max-width: 678px) {
  .services {
    flex-direction: column;
  }

  .box-service {
    width: 90vw;
    margin-right: 5vw;
  }

  .form {
    width: 90vw;
    background-color: black;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 10vh;
  }

  #h-form {
    margin-bottom: 0.5rem;
  }
  #form #text {
    margin-bottom: 1rem;
  }
  #form #email {
    margin-bottom: 1rem;
  }
  #form #textarea {
    margin-bottom: 1rem;
    resize: none;
  }

  #form button {
    width: 40%;
    color: black;
    background-color: white;
  }
}
@media (max-width: 567px) {
  header img {
    display: none;
  }

  header {
    flex-direction: column;
  }

  #logo-main {
    margin-top: 0.7rem;
  }
  .banner {
    min-height: 30vh;
  }

  .banner .banner-p h1 {
    font-size: 2rem;
  }

  .banner .banner-p p {
    display: none;
  }

  #subscribe div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #subscribe div input {
    margin-bottom: 0.5rem;
  }

  #subscribe h3 {
    text-align: center;
    margin-right: 1rem;
  }

  .aboutUs {
    flex-direction: column;
    font-size: 1rem;
  }

  #aboutUs #p1 {
    width: 90vw;
    margin: auto;
  }
  #aboutUs #p2 {
    width: 90vw;
    margin: auto;
  }
  #aboutUs #p3 {
    width: 90vw;
    margin: auto;
    margin-top: 1rem;
    min-height: 5rem;
    padding: 1rem;
    margin-bottom: 10vh;
  }
  #aboutUs #p3 h4 {
    margin-top: 0.1rem;
  }
}
